@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body{
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 12vh;
    background-color: #FFF;
}

.logo{
    width: 100px;
    height: 100px;
}

.input{
    width: 600px;
    height: 45px;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 20px 40px;
    border: none;
}

.nome{
    font-weight: 700;
    font-size: 18px;
}

main{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #F0F0F0;
}

.favoritos{
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    width: 20vw;
    height: 4vh;
    margin-top: 15px;
    padding: 5px 15px;
}

.icos{
    height: 30px;
}

.timeline{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40vw;
    height: 79.4vh;    
    margin: 15px;
    padding: 20px;
    background-color: #FFF;
    gap: 20px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

.post{
    width: 35vw;
    border: none;
    border-radius: 20px;
    background-color: #F0F0F0;
    box-shadow: 2px 4px 3px 0 rgba(90, 90, 90  , 0.5);
}

.fota{
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 0 0;
}

.escritos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 15px 10px 15px;
}

.infos{
    display: flex;
    flex-direction: column;
}

span{
    font-weight: 700;
    font-size: 18px;
}

/* aaaa */

.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
}

.content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #D9D9D9;
    width: 75%;
    height: 80%;
    position: relative;
}

#fecharModal{
    width: 40px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}

.publi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.naosei{
    width: 73%;
    height: 100%;
}

.paasa{
    padding: 20px;
    border-bottom: 1px solid #000;
}

.descricoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 30px;
    width: 20%;
    height: 100%;
}

.testando{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 80%;  
    padding: 15px;
    background-color: #FFF;
}

.btnFavPubli{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #ff3c3c;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
}

.userComent{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}

.model{
    display: none;
    visibility: hidden;
}